server.unsecured.listenHost = 0.0.0.0
server.unsecured.listenPort = 8080
server.unsecured.type = http
server.unsecured.trustProxy = true

servers = unsecured

endpoint.user-api.type = rest
endpoint.user-api.servers = unsecured
endpoint.user-api.bindPath = /v0/api

endpoint.user-ws.type = websocket
endpoint.user-ws.servers = unsecured
endpoint.user-ws.bindPath = /v0/ws

endpoints = user-api user-ws

# Redis URL where CoinGet Recorder Services publish messages
coingetRecorderStreamRedisURL = redis://redis:6379?keepAlive=5

# Settings connection to database
dataStorageURL = redis://redis:6379/4?ip_family=4&name=PriceService&prefix=price%3A

# List source providers
sources = CRYPTOCOMPARE

# Primary source queue
sourcesPriorityQueue = CRYPTOCOMPARE

# Setting source provider CRYPTOCOMPARE. See for limits : https://min-api.cryptocompare.com/stats/rate/limit
source.CRYPTOCOMPARE.limit.parallel = 5
source.CRYPTOCOMPARE.limit.perSecond = 40
source.CRYPTOCOMPARE.limit.perMinute = 800
source.CRYPTOCOMPARE.limit.perHour = 16000
source.CRYPTOCOMPARE.timeout = 3000
